.sixthSec {
  background-color: rgb(252, 38, 38);
  color: #ffff;
  padding: 50px;

}
.sixthSec > div {
  text-align: center;
}

.icons {
  padding-top: 20px;
  margin-left: 40px;
  
}
.icons i {
  padding-right: 30px;
  font-size: 20px;
}
